<div class="banner-area">
    <div class="banner-container">
        {% for banner in site.banner %}
            <div class="banner-item">
                <div class="banner-item-content">
                    <div class="banner-item-text">
                        {{ banner.content }}
                    </div>
                    <button class="close-banner">
                        &times;
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
