<div class ="hero-area">
    <div class="hero-container">
        <div class="hero-item-wrapper">
            {% for content_item in site.homepage-content %}
                {% assign content_labels = content_item.url | split: '/' %}
                {% if content_labels[2] != 'hero' %}
                    {% continue %}
                {% endif %}
                {% if content_labels.size == 4 %}
                    {% assign item_label = content_labels[3] %}
                    <div class="hero-item">
                        <span class="hero-image-url">{{ content_item.image }}</span>
                        {% for nested_content_item in site.homepage-content %}
                            {% assign nested_content_labels = nested_content_item.url | split: '/' %}
                            {% if nested_content_labels[3] == item_label and nested_content_labels.size == 5 %}
                                <div class="hero-item-content">
                                    {{ nested_content_item.content }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="hero-spacer"></div>
</div>
