<div class="nav">
    <div class="nav-container">
        <div class="nav-home">
            <a href="{{site.baseurl}}/" class="home-link">
                {{ site.title }}
            </a>
        </div>
        {% include nav_menu.html %}
        <div class="nav-hamburger">
            <button type="button" id="hamburger-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</div>
