{% assign page_labels = page.url | split: '/' %}
<ul>
    <li class="nav-home">
        <a href="/">{{ site.title }}</a>
    </li>
    {% for nav_page in site.navigation_pages %}
        {% assign nav_labels = nav_page.url | split: '/' %}
        {% if nav_labels.size == 2 %}
            {% assign tab = nav_labels[1] %}
            <li 
                {% if page_labels[1] == tab %} 
                    class="active-tab" 
                {% endif %}
            >
                <a href="{{ nav_page.url }}">{{ nav_page.title }}</a>
                <ul>
                    {% for nested_page in site.navigation_pages %}
                        {% assign nested_labels = nested_page.url | split: '/' %}
                        {% if nested_labels[1] == tab and nested_labels.size == 3 %}
                            <li
                                {% if page_labels == nested_labels %}
                                    class="active-nav"
                                {% endif %}
                            >
                                <a href="{{ nested_page.url }}">{{ nested_page.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>
