{% assign page_labels = page.url | split: '/' %}
<header class="navbar">
    <nav class="navbar-container">
        <div class="home-link-container">
            <a href="/" class="home-link">
                {{ site.title }}
            </a>
        </div>
        <!--
        <button type="button" id="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> -->
        <div class="navbar-menu">
            <ul class="navbar-links">
                {% for nav_page in site.navigation_pages %}
                    {% assign nav_labels = nav_page.url | split: '/' %}
                    {% if nav_labels.size == 2 %}
                        {% assign tab = nav_labels[1] %}
                        <li 
                            class="navbar-item 
                                {% if page_labels[1] == tab %} 
                                    active-tab
                                {% endif %}
                            "
                        >
                            <a class="navbar-link" href="{{ nav_page.url }}">{{ nav_page.title }}</a>
                            <ul class="navbar-sub-nav">
                                {% for nested_page in site.navigation_pages %}
                                    {% assign nested_labels = nested_page.url | split: '/' %}
                                    {% if nested_labels[1] == tab and nested_labels.size == 3 %}
                                        <li
                                            class="navbar-sub-item 
                                                {% if page_labels == nested_labels %}
                                                    active-nav
                                                {% endif %}
                                            "
                                        >
                                            <a class="navbar-sub-link" href="{{ nested_page.url }}">{{ nested_page.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
