.banner-item {
    display: none;
    position: fixed;
    top: 64px;
    width: 100%;
    transition: background-color 3s;

    &.active {
        background-color: gray;

        &.alert {
            background-color: orange;
        }
    }

    p {
        margin: 0;
    }

    .close-banner {
        position: absolute;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;

    }
}
