.banner-container {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
}

.banner-item {
    display: none;
    transition: background-color 3s;

    &.active {
        background-color: gray;

        &.alert {
            background-color: orange;
        }
    }

    .banner-item-content {
        width: 1170px;
        margin: 0 auto;
    }

    p {
        margin: 0;
    }

    .close-banner {
        position: absolute;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;

    }
}
