@import "banner";
@import "cards";
@import "collapsed_nav";
@import "featured";
@import "footer";
@import "header";
@import "hero";
@import "home_content";
@import "nav";
@import "constants";

body {
    background-color: white;
    color: #444;
    margin: 0;
    padding: 0 8px;
    font-size: 15px;
    line-height: 1.8;
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 100%;
    max-width: $max-width;
    margin: 0 auto;
}
