@import "constants";

.nav {
    background: rgba(255,255,255,0.95);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    border-top: 2px solid #EE3B24;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    height: 92px;
    width: 100%;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.nav-container {
    display: grid;
    grid-template-columns: 30% auto 90px;
    width: $max-width;
    padding: 0 8px;
    margin: 0 auto;
}

.nav-home {
    padding: 15px 0;
}

.nav-items {
    display: block;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    float: left;
    position: relative;
}

.nav-link {
    color: #111;
    display: block;
    text-decoration: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 90px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.nav-sub-items {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: #F6F6F6;
    min-width: 240px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-sub-item {
    float: none;
    border-bottom: 1px solid #F0F0F0;
    position: relative;
}

.nav-sub-link {
    text-transform: none;
    font-weight: 400;
    color: #444;
    line-height: 1.5;
    padding: 12px 20px;
    font-size: 14px;
    display: block;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.icon-bar {
    position: relative;
    height: 2px;
    width: 32px;
    margin: 0 auto;
    background: #EE3B24;
    display: block;
    top: 50%;
    margin-top: -1px;
    box-shadow: 0 10px 0px 0px #EE3B24, 0 -10px 0px 0px #EE3B24;
}
