.navbar {
    background: rgba(255,255,255,0.95);
    position: fixed;
    display: block;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    border-top: 2px solid #EE3B24;
    padding: 0;
    margin: 0;
    height: 92px;
    transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    box-sizing: inherit;
}

.navbar-container {
    width: 1170px;
    margin: 0 auto;
    box-sizing: inherit;
}

.home-link-container {
    float: left;
    width: 30%;
    padding: 15px 0;
    box-sizing: inherit;
}

.navbar-menu {
    float: right;
    width: 70%;
    display: block;
    margin: 0;
    box-sizing: inherit;
}

.navbar-links {
    display: block;
    float: right;
    box-sizing: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    float: left;
    position: relative;
    box-sizing: inherit;
    z-index: 5;
}

.navbar-link {
    color: #111;
    display: block;
    text-decoration: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 90px;
    position: relative;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: transparent;
    box-sizing: inherit;
}

.navbar-sub-nav {
    display: none;
    position: absolute;
    left: 0;
    top: 100% ;
    background: #F6F6F6;
    min-width: 240px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.navbar-sub-item {
    float: none;
    border-bottom: 1px solid #F0F0F0;
    position: relative;
    box-sizing: inherit;
}

.navbar-sub-link {
    text-transform: none;
    font-weight: 400;
    color: #444;
    line-height: 1.5;
    padding: 12px 20px;
    font-size: 14px;
    display: block;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: transparent;
    box-sizing: inherit;
}
