<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% if page.title %}
                {{ page.title }}
            {% else %}
                {{ site.title }}
            {% endif %}
        </title>
        <link rel="stylesheet" href="/assets/style/main.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/assets/scripts/main.js" type="module"></script>
        {% seo %}
    </head>
    <body>
        <div class="main-container">

            {% include header.html %}

            {{ content }}

            {% include footer.html %}

        </div>
    </body>
</html>
